.selector {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.conteiner {
  display: flex;
}
.btn {
  font-size: 25px;
  width: 120px;
  height: 50px;
  margin: 15px;
}
.btn {
  font-size: 25px;
}
